/*  setting up the document */

* {
    font-family: Work Sans,
    sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #fff;
}

:root {
    --theme-orange: #ff8800;
    --theme-dark-grey: #0b0b0b;
    --theme-light-grey: #3a3a3a;
}

body {
    background: var(--theme-dark-grey);
}


/* applying global styles */

.invisible-link {
    text-decoration: none;
}


/* header -> navbar styling */

.nav-title {
    margin-left: 55px;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Montserrat;
    font-weight: 600;
    color: var(--theme-orange);
}

.nav-list {
    list-style: none;
}

.nav-element {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
}

.nav-element:hover {
    cursor: pointer;
}

.nav-element::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--theme-dark-grey);
    transition: all 200ms ease-in-out;
    margin-top: 10px;
}

.nav-element:hover::after {
    visibility: visible;
    width: 100%;
}

.head-bar button {
    background: var(--theme-dark-grey);
    border-radius: 20px;
    padding: 13px;
    width: 150px;
    height: auto;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 200ms linear;
}

@media only screen and (min-width: 830px) {

    .head-bar {
        height: 95px;
        top: 0;
        width: 100vw;
        display: flex;
        align-items: center;
    }

    .nav-bar {
        position: absolute;
        display: flex;
        flex-flow: row;
        right: 0;
        margin-right: 2%;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-element {
        margin: 0 3vw;
        color: var(--theme-dark-grey);
        display: inline;
    }


    .head-bar button{
        border: solid 5px var(--theme-dark-grey);
        color: white;
    }

    .head-bar button:hover {
        background-color: var(--theme-orange);
        color: var(--theme-dark-grey);
    }
}

@media only screen and (max-width: 830px) {
    
    .head-bar {
        display: flex;
        align-items: center;
        height: 60px;
    }

    .nav-bar {
        margin: 20px 30px 0 0;
        padding: 0;
        position: absolute;
        display: grid;
        width: auto;
        height: auto;
        top: 0;
        right: 0;
        grid-gap: 20px;
    }

    .nav-element {
        display: inline-block;
        color: #fff;
        margin: 20px 0;
        padding: 0;
        align-self: center;
        text-align: center;
    }

    .nav-list {
        position: relative;
        border: solid 5px var(--theme-orange);
        padding: 40px 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        background-color: var(--theme-dark-grey);
        border-radius: 20px;
        right: 0;
    }

    .head-bar button {
        right: 0;
        position: relative;
        border: solid 5px var(--theme-orange);
    }

    .head-bar button:hover {
        background-color: var(--theme-orange);
        color: #000;
    }

    .nav-element::after {
        background-color: #fff;
    }
}


/* main content styling */

main {
    margin: 0 8vw;
}


/* intro-page styling */

section#intro {
    height: 75vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.intro-background-gradient {
    top: 0;
    left: 0;
    z-index: -2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 25% 50%, var(--theme-light-grey), var(--theme-dark-grey) 37%);
    background-repeat: no-repeat;
    background-attachment: absolute;
}

.intro-title {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 3.5rem;
}

.intro-highlight {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 4rem;
    color: var(--theme-orange);
}

.intro-background {
    position: absolute;
    right: 0;
    top: 0;
    width: 60vw;
    height: auto;
}

.intro-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    z-index: -1;
}

@media only screen and (max-width: 950px) {
    .intro-bg-img {
        width: 65vw;
    }
}


/* intro divider styling */

div.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 10vh;
}

.nav-arrow {
    position: relative;
    transform: rotate(270deg);
    width: 40px;
    margin: -20px;
    animation: arrow-bounce ease-in-out 3s infinite;
    fill: red;
}

.nav-arrow:nth-child(2) {
    animation-delay: 0.30s;
}

@keyframes arrow-bounce {
    0%, 100% {
        bottom: 10px;
    }
    50% {
        bottom: -10px;
    }
}


/* global section styling */

section.content-section {
    margin-bottom: 150px;
}

.section-description {
    text-align: center;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}

h2.section-title {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 20px;
}

p.section-text {
    font-family: Work Sans;
    margin: 0 10vw;
}

@media only screen and (max-width: 460px) {
    .intro-background {
        display: none;
    }

    .head-bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 30vh;
    }

    .nav-title {
        margin: 0;
    }

    button.modeBtn {
        margin-top: 30px;
    }

    .nav-list {
        flex-direction: row;
        top: 30px;
    }

    .nav-element {
        position: relative;
        margin: 0 5vw;
        padding: 0;
    }

    .nav-list {
        padding: 10px;
    }

    p.section-title {
        margin: 0;
    }

    main {
        margin: 1vw;
    }

    .title {
        margin-left: 4vw;
    }

    section#intro {
        grid-template-columns: 1fr;
    }

    .intro-background-gradient {
        background: radial-gradient(circle at 50% 50%, var(--theme-light-grey), var(--theme-dark-grey) 45%);
    }
}


/* projects section styling */

.project-cards {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    height: auto;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: none;
    max-height: 50vh;
}

.project-cards::-webkit-scrollbar {
    height: 5px;
}

.project-cards::-webkit-scrollbar-thumb {
    background-color: var(--theme-orange);
    border-radius: 20px;
}

div.card {
    display: grid;
    grid-template-rows: 1fr 2fr;
    position: relative;
    padding: 10px;
    height: auto;
    width: auto;
    margin: 0 10px;
    background: var(--theme-light-grey);
    border-radius: 30px;
    box-shadow: -1rem 0 40px 2px #000;
    transition: transform 200ms 10ms ease-in-out;
    min-width: 30vw;
}

.card:not(:first-child) {
    margin-left: -150px;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover ~ .card {
    transform: translateX(150px);
}

.project-img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.project-info {
    padding: 20px;
    text-align: center;
}

.project-name {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2rem;
    transition: color 100ms 5ms linear;
}

.project-name:hover {
    color: var(--theme-orange);
}

@media only screen and (max-width: 1000px) {
    div.card {
        min-width: 40vw;
    }
}

@media only screen and (max-width: 700px) {
    div.card {
        min-width: 50vw;
    }
}


/* responsive layout styling */

@media only screen and (max-width: 1080px) {
    .intro-title {
        font-size: 3rem;
    }

    .intro-highlight {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 830px) {
    .intro-title {
        font-size: 2.5rem;
    }

    .intro-highlight {
        font-size: 3rem;
    }


    .device-limiter {
        height: 100vh;
        width: 100vw;
        position: fixed;
        background-color: var(--theme-dark-grey);
        z-index: 10;
        text-align: center;
    }

    .apology-message .intro-highlight {
        color: var(--theme-orange);
        font-weight: black;
        font-family: Montserrat, sans-serif;
        margin-top: 20vh;
    }

    .apology-message .intro-title {
        font-size: 2rem;
        margin-top: 10px;
    }


    /* device limiter */

    .apology-message h3 {
        font-family: Work Sans, sans-serif;
        margin: 20px 20vw;
    }

    .signature-btn {
        position: relative;
        align-self: center;
        background: var(--theme-orange);
        border-radius: 20px;
        border: solid 5px var(--theme-orange);
        padding: 10px;
        margin: 40px;
        cursor: pointer;
        font-size: 1.1rem;
        color: black;
        transition: all 200ms linear;
    }

    .signature-btn:hover {
        background-color: var(--theme-dark-grey);
        color: white;
    }
}

@media only screen and (min-width: 830px) {
    .device-limiter {
        display: none;
    }
}

.device-limiter {
    display: none;
}
